@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    
}


.app-container{
    display: grid;
    grid-template-rows: 144px 100px 1fr 150px 100px;
    place-items: center;
    height: 100vh;

    background: linear-gradient(to bottom, #1C1823, #241E31);
}

.switch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.switch-container p {
    font-size: 14px;
    color: white;
    text-align: center;
}

.btn-power button {
    background: transparent;
    border: none;
}

.btn-power p {
    color: #E1C9FF;
    font-size: 14px;
    position: relative;
    top: 25px;
}

.device button{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.692);
    border: none;
    background-color: #1C1823;
    width: 250px;
    height: 55px;
    border-radius: 50px;


}


.select-devices {
    display: none;
    position: absolute;
    border: 1px solid #f693ff;
    border-radius: 10px;
    margin-bottom: 12px;
    background-color: #191422;
    z-index: 1000;
    place-items: center;


    width: 300px;
    height: 400px;
}

.select-devices h2 {
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.device-content {
    display: flex;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 20px;

    width: 240px;
    min-height: 295px;
    max-height: 295px;
    padding: 10px;

    overflow-y: auto;
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none; /* Para Internet Explorer y Edge */

}

.device-content::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari y Opera */
}


.item-content button {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;    

    min-width: 260px;
    min-height: 65px;
    border-radius: 10px;
    color: white;
    background-color: rgb(0, 0, 0, 0.35);
}

.item-content img {
    background-color: #191422;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #241E31;
}

.item-content p{
    font-size: 18px;
    margin-left: 20px;
}

.modo-hora-container {
    position: absolute;


    display: none;
    background-color: #302a3b;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #a993d856;
    color: rgb(199, 183, 218);
    z-index: 1001;
}

.modo-hora-container::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    pointer-events: all;
    background: rgb(0, 0, 0, 0.1);
  }

  .modo-hora-container * {
    position: relative;
    z-index: 1002;
  }

.mh-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.hora-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}   

.hora-container input {
    border: none;
    border-radius: 10px;
    background-color: rgba(237, 226, 255, 0.35);
    padding: 10px;
    font-size: 18px;
}

.hora-container p {
    color: #ffffff;
}


.hora-btn {
    margin-top: 80px;
    display: flex;
    place-content: center;
    gap: 20px;
}

.hora-btn button {
    border: none;
    border: 1px solid #E1C9FF;
    border-radius: 10px;
    color: white;
    width: 80px;
    height: 40px;
    background-color: #191422;
    
}

.hora-container input:focus {
    outline: #000000 2px solid;
    box-shadow: 0 0 0 3px #E1C9FF; /* Segundo borde (externo) */
}

.hora-container input:hover {
    background-color: #f2d3f848;
}

#hora-config {
    display: flex;
    place-items: center;
}

.time {
    display: flex;
    gap: 190px;
    color: white;
    text-align: center;
}

.start label, .end label {
    font-size: 12px;
}

.start, .end {
    width: 50px;
    height: 50px;
    border: 2px solid #4b425c;
    background-color: #302a3b;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
}

.time p {
    color: #ffc9df;
    font-size: 14px;
}

@media(width>1000px) {
    .app-container{
        display: grid;
        grid-template-areas: 
        "switch power device"
        "switch power device"
        "switch power device"
        "switch power device"
        "var var var";

        grid-template-columns: 1fr 1fr 1fr;
    }
    .switch-container {
        grid-area: switch;
        position: relative;
        top: 0;
        margin-left: 160px;
    }
    .btn-power {
        grid-area: power;
        margin: 0;
    }
    .device {
        grid-area: device;
        position: relative;
        margin-right: 160px;
    }
    .device button {
        width: 125px;
    }
    .switch-container p {
        text-align: center;
    }
    .bottom-var {
        grid-area: var;
    }
}

@media(height < 700px){
    .app-container {
        display: grid;
        grid-template-rows: 70px 100px 1fr 100px 100px;
    }

    .device {
        position: relative;
        top: 5px;
    }

}

@media(height < 700px){
    .app-container {
        display: grid;
        grid-template-rows: 70px 100px 1fr 100px 100px;
    }

    .device {
        position: relative;
        top: 5px;
    }

}