<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="styles/switch.css">
    <link rel="stylesheet" href="styles/bar.css">
    <script src="views/navigation.js"></script>
    <script defer src="services/OnOffFoco.js"></script> <!-- Se carga el nuevo script -->
</head>
<body>
    <div class="app-container">

        <div class="nav">

        </div>

        <div class="select-devices" id="abrirMisDispositivos">
            <h2>Selecciona un dispositivo</h2>
            <div class="sd-content">
                <!-- AQUI SE COLOCARAN LOS DISPOSITIVOS CREADOS PARA PODER ELEGIR CUAL USAR -->
                 <label class="sd-item">
                    <!-- Contenedor de las alertas?? -->
                     <input type="checkbox">
                     <span>foco de la casona</span>
                 </label>
              
            </div>

        </div>

        <div class="switch-container">
            <div class="border">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
            </div>
            <p>Modo automatico</p>
        </div>

        <div class="btn-power">
            <button class="on-off" id="toggleButton">
                <img id="toggleImage" src="assets/OFF.svg" alt="Icono SVG">
                <p id="toggleText">Apagado</p>
            </button>
        </div>

        <div class="device">
            <button>Seleccionar</button>
        </div>

        <nav class="bottom-var">
            <button onclick="monitoreoView()">
                <img src="assets/activity.svg" alt="Monitoreo">
                <p>Monitoreo</p>
            </button>

            <button onclick="inicioView()"> 
                <img src="assets/layout-grid.svg" alt="Inicio">
                <p>Inicio</p>
            </button>

            <button onclick="dispositivosView()">
                <img src="assets/monitor-speaker.svg" alt="Dispositivos">
                <p>Dispositivos</p>
            </button>
        </nav>

    </div>
</body>
</html>
