<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Home</title>
  <link rel="stylesheet" href="styles/monitoreo.css">
  <link rel="stylesheet" href="styles/bar.css">
  <script src="views/navigation.js"></script>
  <script src="services/Monitoreo.js"></script>
</head>

<body>
  <div class="app-container">

    <nav>
    </nav>

    <div class="notify-content">
      <h2>Monitoreo</h2>
      <div class="notify" >
        <div id="notifyContainer"></div>
      </div>
    </div>

    <nav class="bottom-var">
      <button onclick="monitoreoView()">
        <img src="assets/activity.svg" alt="Monitoreo">
        <p>Monitoreo</p>
      </button>

      <button onclick="inicioView()">
        <img src="assets/layout-grid.svg" alt="Inicio">
        <p>Inicio</p>
      </button>

      <button onclick="dispositivosView()">
        <img src="assets/monitor-speaker.svg" alt="Dispositivos">
        <p>Dispositivos</p>
      </button>
    </nav>

  </div>
  <script>
   
  </script>
</body>

</html>